.status-red {
    -fx-background-color:rgba(128,0,0,0.7);
}
.status-green {
    -fx-background-color:rgba(0,128,0,0.7);
}
.status-blue {
    -fx-background-color: rgba(55, 179, 252, 128);
    -fx-border-width: 1px;
    -fx-border-color: #2a2a2a;
}

.chart-title{
    -fx-text-fill: #000000;
}

.axis {
    -fx-tick-label-fill: #000000;
}

.axis-label {
    -fx-text-fill: #000000;
}